# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Emacs
\#*#

#pio
/.pio/

# Doxygen
/doc/html

# resources
/src/res/*
!/src/res/resource.h
!/src/res/u8g2_font_profont22_tr.*
!/src/res/wifi.cpp
!/src/res/bt.cpp
!/src/res/jpmap.cpp
!/src/res/dummy_face.cpp
!/src/res/dummy_mo.cpp
!/src/res/dummy_mc.cpp
!/src/res/dummy_logo.cpp
!/src/res/w???.cpp
!/src/res/font.cpp


